 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("construction-worker-truss-installation_33835-781.webp");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-group-elements-1 {
  width: 826px;
  min-height: 199px;
  margin: 60px auto;
}

.u-section-1 .u-text-1 {
  margin: 0 auto 0 142px;
}

.u-section-1 .u-line-1 {
  width: 278px;
  transform-origin: left center;
  height: 3px;
  margin: 9px auto 0 274px;
}

.u-section-1 .u-text-2 {
  margin: -3px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 699px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-elements-1 {
    min-height: 202px;
    height: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    margin-left: auto;
  }

  .u-section-1 .u-line-1 {
    margin-top: 12px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-1 .u-group-elements-1 {
    min-height: 184px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 19px;
    margin-left: 45px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 6px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 746px;
  }

  .u-section-1 .u-group-elements-1 {
    margin-top: 269px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    margin-top: 24px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-line-1 {
    margin-top: 3px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 8px;
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 367px;
}

.u-section-2 .u-line-1 {
  width: 912px;
  margin: 136px auto 0;
}

.u-section-2 .u-list-1 {
  margin-bottom: 0;
  margin-top: -3px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 7.5px));
  min-height: 190px;
  grid-gap: 10px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 10px 10px;
}

.u-section-2 .u-group-elements-1 {
  width: 225px;
  min-height: 81px;
  margin: 46px auto 0;
}

.u-section-2 .u-text-1 {
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  margin: 16px auto 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 10px 10px;
}

.u-section-2 .u-group-elements-2 {
  width: 225px;
  min-height: 81px;
  margin: 46px auto 0;
}

.u-section-2 .u-text-3 {
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  margin: 16px auto 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 10px 10px;
}

.u-section-2 .u-group-elements-3 {
  width: 225px;
  min-height: 81px;
  margin: 46px auto 0;
}

.u-section-2 .u-text-5 {
  margin: 0 auto;
}

.u-section-2 .u-text-6 {
  margin: 16px auto 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 0 10px 10px;
}

.u-section-2 .u-group-elements-4 {
  width: 225px;
  min-height: 81px;
  margin: 46px auto 0;
}

.u-section-2 .u-text-7 {
  margin: 0 auto;
}

.u-section-2 .u-text-8 {
  margin: 16px auto 0;
}

.u-section-2 .u-line-2 {
  width: 912px;
  margin: 0 auto 38px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-line-1 {
    margin-top: 116px;
  }

  .u-section-2 .u-list-1 {
    margin-top: -16px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 157px;
  }

  .u-section-2 .u-line-2 {
    height: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 569px;
  }

  .u-section-2 .u-line-1 {
    margin-top: 44px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-list-1 {
    margin-top: 79px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 481px;
  }

  .u-section-2 .u-line-2 {
    width: 720px;
    margin-top: 20px;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 691px;
  }

  .u-section-2 .u-line-1 {
    margin-top: 65px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-list-1 {
    margin-top: 20px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-line-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-line-1 {
    margin-top: 95px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-list-1 {
    margin-top: 0;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 10px;
  }

  .u-section-2 .u-group-elements-1 {
    width: 185px;
    min-height: 74px;
    margin-top: 21px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -3px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 10px;
  }

  .u-section-2 .u-group-elements-2 {
    width: 185px;
    min-height: 74px;
    margin-top: 21px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 10px;
  }

  .u-section-2 .u-group-elements-3 {
    width: 185px;
    min-height: 74px;
    margin-top: 21px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 10px;
  }

  .u-section-2 .u-group-elements-4 {
    width: 185px;
    min-height: 74px;
    margin-top: 21px;
  }

  .u-section-2 .u-line-2 {
    width: 340px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 648px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 108px 0 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 431px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-3 .u-text-1 {
  margin: 0;
}

.u-section-3 .u-image-1 {
  min-height: 431px;
  background-image: url("Shoe-Factory-abia.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 427px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 355px;
  }

  .u-section-3 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-3 .u-image-1 {
    min-height: 355px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-image-1 {
    min-height: 272px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 807px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 49px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    min-height: 408px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 656px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 377px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
  }

  .u-section-3 .u-image-1 {
    min-height: 257px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 580px;
}

.u-section-4 .u-list-1 {
  margin: 60px auto 60px 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 20px));
  min-height: 336px;
  grid-gap: 30px;
}

.u-section-4 .u-list-item-1 {
  background-size: auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-icon-1 {
  height: 48px;
  width: 48px;
  margin: 40px auto 0;
}

.u-section-4 .u-text-1 {
  font-style: italic;
  margin: 26px 0 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-icon-2 {
  height: 48px;
  width: 48px;
  margin: 40px auto 0;
}

.u-section-4 .u-text-2 {
  font-style: italic;
  margin: 26px 0 0;
}

.u-section-4 .u-list-item-3 {
  background-size: auto;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-icon-3 {
  height: 48px;
  width: 48px;
  margin: 40px auto 0;
}

.u-section-4 .u-text-3 {
  font-style: italic;
  margin: 26px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 256px;
  }

  .u-section-4 .u-list-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 729px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
    min-height: 609px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1203px;
  }

  .u-section-4 .u-list-1 {
    margin-top: 138px;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url("040119-usine-textile.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-5 .u-group-elements-1 {
  width: 835px;
  min-height: 237px;
  margin: 60px auto;
}

.u-section-5 .u-text-1 {
  width: 835px;
  font-size: 2.25rem;
  margin: 0 auto;
}

.u-section-5 .u-text-2 {
  width: 826px;
  margin: 30px auto 0;
}

@media (max-width: 991px) {
  .u-section-5 .u-group-elements-1 {
    min-height: 230px;
    height: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: -2px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-group-elements-1 {
    min-height: 294px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-1 {
    margin-top: 0;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 349px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 420px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-image-1 {
  width: 300px;
  height: 300px;
  background-image: url("abzalphoto.jpeg");
  background-position: 50% 50%;
  margin: 30px auto 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 420px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-2 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 26px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 346px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 346px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-image-1 {
    width: 216px;
    height: 216px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-layout-cell-2 {
    min-height: 371px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 349px;
}

.u-section-7 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 420px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-image-1 {
  width: 300px;
  height: 300px;
  background-image: url("WhatsAppImage2022-06-27at12.56.41PM1.jpeg");
  background-position: 50% 50%;
  margin: 30px auto 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 420px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-2 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 26px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 346px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 346px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-image-1 {
    width: 216px;
    height: 216px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-layout-cell-2 {
    min-height: 371px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
  }
}.u-block-3d77-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-3d77-5 {
  position: absolute;
  left: 0;
  width: 51px;
  height: 51px;
  top: 268px;
  right: auto;
  padding: 0;
}

.u-block-3d77-6 {
  position: absolute;
  width: 51px;
  height: 51px;
  left: auto;
  top: 272px;
  right: calc(((100% - 1140px) / 2)  + -9px);
  padding: 0;
}

@media (max-width: 1199px) {
  .u-block-3d77-6 {
    right: calc(((100% - 940px) / 2)  + -7px);
  }
}

@media (max-width: 991px) {
  .u-block-3d77-6 {
    right: calc(((100% - 720px) / 2)  + -5px);
  }
}

@media (max-width: 767px) {
  .u-block-3d77-6 {
    right: calc(((100% - 540px) / 2)  + -4px);
  }
}

@media (max-width: 575px) {
  .u-block-3d77-5 {
    width: 34px;
    height: 34px;
  }

  .u-block-3d77-6 {
    right: calc(((100% - 340px) / 2)  + -3px);
  }
}

 .u-section-8-1 {
  background-image: none;
}

.u-section-8-1 .u-sheet-1 {
  min-height: 600px;
}

.u-section-8-1 .u-group-elements-1 {
  width: 1023px;
  min-height: 164px;
  margin: 60px auto;
}

.u-section-8-1 .u-text-1 {
  margin: 0 auto 0 329px;
}

.u-section-8-1 .u-text-2 {
  margin: 8px 0 0;
}

.u-section-8-1 .u-icon-1 {
  width: 45px;
  height: 45px;
  margin: 0 auto 0 489px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-8-1 .u-group-elements-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-8-1 .u-group-elements-1 {
    width: 720px;
  }

  .u-section-8-1 .u-text-1 {
    margin-left: auto;
  }

  .u-section-8-1 .u-text-2 {
    width: auto;
  }

  .u-section-8-1 .u-icon-1 {
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-8-1 .u-group-elements-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-8-1 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-8-1 .u-group-elements-1 {
    width: 340px;
  }
}

 .u-section-8-2 {
  background-image: none;
}

.u-section-8-2 .u-sheet-1 {
  min-height: 600px;
}

.u-section-8-2 .u-text-1 {
  width: 396px;
  margin: 208px auto 0;
}

.u-section-8-2 .u-text-2 {
  margin: 40px 59px 60px;
}

@media (max-width: 1199px) {
  .u-section-8-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-8-2 .u-text-1 {
    margin-top: 128px;
  }
}

@media (max-width: 575px) {
  .u-section-8-2 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-8-2 .u-text-1 {
    width: 340px;
    margin-top: 60px;
  }
}

 .u-section-8-3 {
  background-image: none;
}

.u-section-8-3 .u-sheet-1 {
  min-height: 600px;
}

.u-section-8-3 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-8-3 .u-text-2 {
  margin: 40px 59px 60px;
}

@media (max-width: 1199px) {
  .u-section-8-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-8-3 .u-sheet-1 {
    min-height: 100vh;
  }
}

 .u-section-8-4 {
  background-image: none;
}

.u-section-8-4 .u-sheet-1 {
  min-height: 600px;
}

.u-section-8-4 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-8-4 .u-text-2 {
  margin: 40px 59px 60px;
}

@media (max-width: 1199px) {
  .u-section-8-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-8-4 .u-text-1 {
    margin-top: 338px;
  }

  .u-section-8-4 .u-text-2 {
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-8-4 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-8-4 .u-text-1 {
    width: auto;
    margin-top: 60px;
    margin-left: -13px;
    margin-right: -13px;
  }

  .u-section-8-4 .u-text-2 {
    width: auto;
    margin-bottom: 60px;
  }
}

 .u-section-8-5 {
  background-image: none;
}

.u-section-8-5 .u-sheet-1 {
  min-height: 600px;
}

.u-section-8-5 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-8-5 .u-text-2 {
  margin: 40px 59px 60px;
}

@media (max-width: 1199px) {
  .u-section-8-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-8-5 .u-text-1 {
    margin-top: 338px;
  }

  .u-section-8-5 .u-text-2 {
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-8-5 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-8-5 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-8-5 .u-text-2 {
    margin-bottom: 60px;
  }
}

 .u-section-8-6 {
  background-image: none;
}

.u-section-8-6 .u-sheet-1 {
  min-height: 600px;
}

.u-section-8-6 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-8-6 .u-text-2 {
  margin: 40px 59px 60px;
}

@media (max-width: 1199px) {
  .u-section-8-6 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-8-6 .u-text-1 {
    margin-top: 338px;
  }

  .u-section-8-6 .u-text-2 {
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-8-6 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-8-6 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-8-6 .u-text-2 {
    margin-bottom: 60px;
  }
}

 .u-section-8-7 {
  background-image: none;
}

.u-section-8-7 .u-sheet-1 {
  min-height: 600px;
}

.u-section-8-7 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-8-7 .u-text-2 {
  margin: 40px 59px 60px;
}

@media (max-width: 1199px) {
  .u-section-8-7 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-8-7 .u-sheet-1 {
    min-height: 100vh;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 950px;
}

.u-section-9 .u-text-1 {
  width: 166px;
  margin: 60px auto 0;
}

.u-section-9 .u-line-1 {
  width: 145px;
  transform-origin: left center;
  margin: 20px auto 0;
}

.u-section-9 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin: 17px 0 60px;
}

.u-section-9 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  grid-gap: 0px;
}

.u-section-9 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-9 .u-image-1 {
  height: 213px;
  margin: 0 auto 0 0;
}

.u-section-9 .u-text-2 {
  margin: 20px auto 0 0;
}

.u-section-9 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-9 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none none solid;
  text-transform: uppercase;
  margin: 20px auto 0 0;
  padding: 2px 0;
}

.u-section-9 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-9 .u-image-2 {
  height: 213px;
  margin: 0 auto 0 0;
}

.u-section-9 .u-text-4 {
  margin: 20px auto 0 0;
}

.u-section-9 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-9 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none none solid;
  text-transform: uppercase;
  margin: 20px auto 0 0;
  padding: 2px 0;
}

.u-section-9 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-9 .u-image-3 {
  height: 213px;
  margin: 0 auto 0 0;
}

.u-section-9 .u-text-6 {
  margin: 20px auto 0 0;
}

.u-section-9 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-9 .u-btn-3 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none none solid;
  text-transform: uppercase;
  margin: 20px auto 0 0;
  padding: 2px 0;
}

.u-section-9 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  top: 651px;
}

.u-section-9 .u-gallery-nav-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  top: 664px;
  right: 10px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
  }

  .u-section-9 .u-image-1 {
    height: 169px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-image-2 {
    height: 169px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-image-3 {
    height: 169px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-list-1 {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-9 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
    grid-auto-columns: 100%;
    grid-gap: 7px;
  }

  .u-section-9 .u-image-1 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-image-2 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-image-3 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1008px;
  }

  .u-section-9 .u-text-1 {
    margin-top: 148px;
  }

  .u-section-9 .u-list-1 {
    margin-top: 20px;
    margin-bottom: 30px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-9 .u-repeater-1 {
    min-height: 748px;
    grid-gap: 0px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
  }

  .u-section-9 .u-image-1 {
    height: 400px;
    width: 100%;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
  }

  .u-section-9 .u-image-2 {
    height: 400px;
    width: 100%;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
  }

  .u-section-9 .u-image-3 {
    height: 400px;
    width: 100%;
    margin-right: auto;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1064px;
  }

  .u-section-9 .u-list-1 {
    margin-bottom: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-repeater-1 {
    min-height: 847px;
    grid-template-columns: 100%;
  }

  .u-section-9 .u-gallery-nav-1 {
    left: 8px;
    top: 665px;
  }

  .u-section-9 .u-gallery-nav-2 {
    top: 665px;
    right: 8px;
  }
}
